build
build/*

.kas_shell_history
.vscode
!.vscode/settings.shared.json

layers/*

!layers/meta-training/
!layers/meta-training/*/
!layers/meta-training/*/*/
!layers/meta-training/*/*/*/
!layers/meta-training/*/*/*/*/
!layers/meta-training/*/*/*/*/*/
!layers/meta-training/*/*/*/*/*/*/

